* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;

}



body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;    /* Altura / vh - altura */
    width: 100vw;    /*  vw - largura */
    background-image: url("https://images.unsplash.com/photo-1464822759023-fed622ff2c3b?crop=entropy&cs=tinysrgb&fit=crop&fm=jpg&h=900&ixid=MnwxfDB8MXxyYW5kb218MHx8bGFuZHNjYXBlfHx8fHx8MTY3NTUxMDY2NQ&ixlib=rb-4.0.3&q=80&utm_campaign=api-credit&utm_medium=referral&utm_source=unsplash_source&w=1600");
}

.caixa-maior {
    background-color: black;
    width: 430px;
    max-width: 420px; /*  Largura  Maxima */
    opacity: 0.8;/* transparencia do item */
    padding: 20px;
    border-radius: 25px;

}

input {
    border: none;/* borda do elemento */
    outline: none;/* borda quando seleciona o elemento */
    padding: 10px;/* espaçamento interno */
    border-radius: 24px;/* arredonda as bordas */
    font-size: 20px;
    background-color: #7c7c7c2b;
    color: #ffffff;
    width: calc( 100% - 100px);
}
button {
    border: none;
    outline: none;
    padding: 10px;
    border-radius: 50px;
    background-color: #7c7c7c2b;
    float: right;
    cursor: pointer;
}

button:hover {
    background-color: #7c7c7c6b;
}

.caixa-media {
    margin-top: 30px;
}

.caixa-menor {
    display: flex;
    margin-top: 30px;
    align-items: center;
}
    


.lupa {
    height: 20px;
}

h2 {
    color: white;
    font-size: 28px; /* tamanho do texto */
}

.temp {
    color: #ffffff;
    margin-top: 20px;
}

.descricao {
    color: #ffffff;
    margin-top: 20px;
    text-transform: capitalize;
}

.umidade {
    color: #ffffff;
    margin-top: 20px;
}